nav{
	background: grey;
	height: 100px;
}
.logo{
	display: inline-block;
	height: 100px;
	width: 100px;
}
ul{
	display: inline-block;
	width:18%;
	line-height: 4em;
	padding: 0px;
	height: 0px
	margin-left: 73%;
}

ul li {
	display: inline;
	float: left;
	margin: 15px;
}
.omotac{
    margin: 20px 10%; 
	float: left;
}
p{
	width: 150px;
	border: 1px solid black;
	margin: 50px
}

.holder{
	display: inline-block;
	float: left;
}